html{
    height: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

img{

}

header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 16px;
    align-items: center;
}
header a{
    background-color: lightcoral;
    color: black;
    padding: 20px;
    flex: 0 0 90px;
}
header a:hover,header li:hover,nav li:hover {
    font-size: 90%;
}
header ul{
    display: flex;
}
header li{
    display: flex;
    padding: 10px;
    margin-left: 10px;
    background-color: grey;
    flex: 0 0 100px;
}
nav{
    background-color: lightgreen;
}
nav ul{
    display: flex;
    background-color: lightslategray;
    justify-content: space-between;

}
nav li{
    display: flex;
    background-color: lightblue;
    padding: 20px;
    flex: 0 0 300px;
    text-align: center;
    justify-content: space-around;
}
main{
    padding: 10px;

}
footer{
    background-color: grey;
}
